@page "/todolist"
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<h3>TodoList - Pending @todoList.Count(x=> !x.Finished) </h3>

<button class="btn btn-primary" @onclick="AddItem" >Add</button>

@if (isLoading)
{
    <p>Loading ...</p>
}
else{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Finished</th>
                <th>Finished Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var todo in todoList)
            {
                <tr>
                    <td>@todo.Title</td>
                    <td><input type="checkbox" checked="@todo.Finished" disabled /></td>
                    <td>@todo.FinishedDate</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditItem(todo)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => DeleteItem(todo)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
